@require 'consts'
@require 'mixins'

fieldset
  padding 1rem
  border 0.1rem solid $c-weak

legend
  padding 0

label
  display block
  margin-bottom 0.5rem

box-input($color = $c-medium)
  padding 0.5rem
  font-size 1em
  border none
  outline none
  border-radius 0
  background-color $color
  color inherit
  font-family inherit
  letter-spacing inherit
  font-weight inherit

for $type in (text password url email tel search number color date month week datetime datetime-local)
  input[type={$type}]
    box-input()
textarea, select
  box-input()

button-input($color = $c-weak)
  box-input($color)
  cursor pointer
  transition all $transition-dur

  &:hover
    box-shadow 0.2em 0.2em 0.1em 0 $c-weak

for $type in (submit button reset)
  input[type={$type}]
    button-input()
    &:hover
      background-color $c-strong
      color $c-medium
    &:active
      background-color $c-medium
      color $c-strong

// These get extra styles with pseudo-elements.
button, .button
  button-input()

  // Top/bottom lines.
  position relative
  &:before
    content ''
    transition all $transition-dur
    position absolute
    top 0
    bottom 0
    left 0
    right 0

  // Bar fill.
  &:after
    content ''
    transition all $transition-dur
    transition-timing-function ease-out
    position absolute
    top 0
    bottom 0
    left 0
    width 0
    background-color $c-strong
    z-index -1

  &:hover
    background-color transparent
    color $c-medium

    &:before
      top -0.2rem
      bottom -0.2rem
      border solid $c-strong
      border-width 0.1rem 0

    &:after
      width 100%

  &:active
    color $c-strong

    &:after
      background-color $c-medium

for $placeholder in webkit-input moz ms-input
  ::-{$placeholder}-placeholder
    opacity 1
    color $c-weak
    font-weight lighter
