$figure-padding = 0.5rem
figure
  display flex
  flex-direction column
  margin 0
  margin-bottom 1rem
  background-color $c-medium
  padding $figure-padding
  > :not(figcaption)
    margin $figure-padding
  > figcaption
    order -1
    margin (- $figure-padding)
    margin-bottom $figure-padding
    padding $figure-padding ($figure-padding * 2)
    font-size 1.2rem
    background-color $c-strong
    color $c-weak

iframe
  border 0.1rem solid $c-weak
